@font-face{
	font-family: "HeroicC";
	src: url(../fonts/heroicc.ttf);
}
@font-face{
	font-family: "Adelle";
	src: url(../fonts/adellesans.ttf);
}

html{
	width: 100%;
	margin: 0px;
	background-color: black; 
}
body{
	width: 100%;
	margin: 0 auto;
	background-color: black; 
}
main{
	margin: 0 auto;
}
.clearfix::after {
	clear: both;
  }
/* styling for header*/
header{
	clear:both;
	letter-spacing: 0.1em;
}
.logo-xl{
	display: none;
}
.logo{
	float: left;
	width: 145px;
	margin: 8px;
}
.header__theme p{
	padding-top: 20px;
	text-align: center;
	font-family: "HeroicC";
	font-size: 20px;
	color: #fff;
	margin: 0 auto;
	width: 100%;
}
.user{
	padding-top: 0.1%;
	float: right;
	width: 13%;
}
.user__avatar{
	display: inline-block;
	margin: 8px;
}
.user__search{
	display: none;
    width: 30px;
	margin: 8px;
}
.user__avatar img{
	width: 25px;
}
.user__search img{
	width: 25px;
}
.navBar{
	display: inline-block;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #333333;
	clear:both;
}
.navBar ul{
	list-style-type: none;
	width: 100%;
	clear:both;
	padding: 0;
	margin: 0;
}
.navBar__items{
	display: inline-block;
    width: 22%;
    padding: 5px 0px 5px 4px;
    border-right: 1px solid #333333;
}
.navBar__items:hover{
	background-color: #1a1a1a;
}
.navBar__items:hover a .DDArrow img{
	fill: white;
}
.navBar__items:hover .navBar__content{
	position: absolute;
	display: inline-block;
	overflow: hidden;
	width: 100vw;
	top: 78px;
	left: 0;
	background-color: #1a1a1a;
}
.DDArrow img{
	width: 10px;
}
.DDMenu{
	width: 15px;
	display: none;
}
.navBar .navBar__items>a{
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-family: "HeroicC";
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.05em;
	width: 100%;
	padding: 4px 0 4px 2px;
}
.navBar__hidden{
	display: none;
}
.navBar__dropdown{
	height: 100%;
}
.navBar__dropdown ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.navBar__content a{
	float: left;
	text-align: left;
	text-decoration: none;
	font-family: "Adelle";
	color: #fff;
	font-size: 9px;
	letter-spacing: 0.05em;
	background-color: #1a1a1a;
	width: 100%;
	border-bottom: 1px solid #6A6A6A;
	padding: 10px 10px 10px 20px;
}
.navBar__content a:last-child{
	color: #e17;
}
.hide{
	display: none;
}
.social{
    background-color: #000;
    width: 11%;
	padding: 1.3% 0px 0 1%;
}
.social a{
	margin: 3px;
}
@media only screen and (min-device-width : 768px){

	.show{
		display: block;
	}
	.navBar,.user{
		background-color: #000;
	}
	.logo{
		display:block;
		float: none;
		width:100%;
		padding: 60px 0px 60px 0px;
		background: url("../images/Masthead_SM_3.0.png") no-repeat fixed;
		background-size:cover;
		margin: 0 auto;
	}
	.logo__image{
		width: 700px;
		margin: 0 auto;
	}
	.navBar{
		width: 85%;
		padding-top: 1%;
		border-bottom: 0;
	}
	.navBar ul{
		list-style-type: none;
		clear:both;
		padding: 0;
		margin: 0;
	}
	.navBar__items{
		position: relative;
		border: 0;
	}
	.navBar .navBar__items a{
		border: 0;
		width: 66px;
	}
	
	.navBar__items:hover .navBar__content{
		position: absolute;
		top: 38px;
		width: 240px;
		overflow: hidden;
		display: inline-block;
	}
	.navBar__content a {
		padding: 7px 0px 7px 10px;
		display: inline-block;
	}

}
/* Media Queries - tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
	html,body,header{
		clear:both;
	}
	.medium-visible{
		display: inline-block;
	}
	.medium-hidden{
		display: none;
	}
	.navBar__items{
		padding: 7px;
		width: 14%;
	}
	.navBar .navBar__items a{
		border-right:0; 
	}
	#navBar__more{
		float: right;
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
	.large-visible{
		display: inline-block;
	}
	.large-hidden{
		display: none;
	}
	.navBar{
		margin-left: 15px;
		width: 71%;
	}
	.navBar ul{
		list-style-type: none;
		width: 100%;;
	}
	.navBar__items{
		width: 11%;
		margin: 0px 1px;
	}
	.navBar__items:hover .navBar__content{
		overflow: hidden;
		top: 32px;
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1440px) {
	main,header{
		max-width: 1440px;
		margin:0 auto;
	}
	.logo-xl{
		display: inline-block;
		background: url("../images/Masthead_SM_3.0.png") no-repeat;
		background-size: cover;
		padding: 20px;
		width: 100%;
	}
	.logo-xl__image{
		width: 40%;

		margin: 0 auto;
	}
	.logo-xl__theme p{
		padding-top: 20px;
		text-align: center;
		font-family: "HeroicC";
		font-size: 20px;
		color: #fff;
		margin: 0 auto;
		width: 100%;
	}
	.content__featured{
		margin: 0 auto;
	}
	.xlarge-visible{
		display: inline-block;
	}
	.xlarge-hidden{
		display: none;
	}
	.navBar {
		
		width: 78%;
	}
	.navBar__items{
		min-width: 90px;
		width: auto;
	}
	.navBar .navBar__items>a{
		width: 80%;
	}
	.social{
		width:8%;
	}
	.user{
		padding-top: 0.5%;
		float: right;
		width: 7%;
	}
}

/* End of NavBar Styling    _________________________________________________  */ 

/* Feature Cards Styling    */
.title__container{
	vertical-align: top;
}
.content{
	width: 100%;
}
.content,.content__featured,.borderholder,.featured{
	clear:both;
	font-family: "Adelle";
	color: #fff;
}
.pink__font{
	color: #E17;
}
.featured__1 .image__container{

	display: inline-block;
	width: 50%;
}
.featured__1 .image__container img{
	width : 99%;
}
.borderholder{
	padding: 1px;
	background-image: linear-gradient(90deg, rgb(255, 217, 0) 0%, rgb(233, 4, 101) 80%);
}
.featured{
	clear:both;
	background-color: #000;
	padding: 7px;
}
.featured__1 .title__container{
	display: inline-block;
	width: 44%;
}
.featured__1 .title__container h3,p{
	font-size: 15px;
  	margin: 2px;
}
.featured__1 .title__container p{
	font-size: 12px;
	font-weight: 100;
}

.featured-sm .image__container{
	display: inline-block;
	width: 30%;

}
.featured-sm .image__container img{
	width : 99%;
}
.featured-sm .title__container{
	font-family: "Adelle";
	display: inline-block;
	width: 65%;
}
.featured-sm .title__container h3,p{
	font-weight: 600;
	font-size: 15px;
	margin: 5px;
}
.featured-sm .title__container p{
	font-size: 12px;
	font-weight: 100;
}
.bh-last .image__container h3{
	display: none;
}


/* Media Queries - tablet */
@media only screen and (min-width : 768px){
	.borderholder{
		margin-left: -4px;
	}
	.bh-md6{
		width: 50%;
    	display: inline-block;
	}
	.featured{
		padding: 0;
	}
	.featured__2,.featured__3{
		min-height: 369px;
	}
	.featured .title__container p{
		font-size: 16px;
		letter-spacing: 1px;
		font-family: "HeroicC";
		text-transform: uppercase;
	}
	.bh1-1{
		position: relative;
	}
	.bh1-1:before {
		background-color: #f7c626;
		top: -12%;
		content: "";
		height: 3px;
		left: 66px;
		/* right: 0; */
		position: absolute;
		width: 87%;
	}
	.bh1-1:after {
		background-color: #f7c626;
		top: -5px;
		content: "";
		height: 3px;
		left: 0%;
		position: absolute;
		transform: rotate(120deg);
		transform-origin: bottom right;
		width: 47px;
	}
	.featured-sm .title__container h3,p{
		font-weight: 600;
		font-size: 19px;
		margin: 5px;
	}
	.featured-md-1 .image__container img{
		object-fit: cover;
		height: 343px;
		width: 97%;
	}
	.featured-md-1 .title__container h3{
		width: 99%;
		text-transform: uppercase;
		font-family: "HeroicC";
		font-size: 55px;
	}


	.featured-md-1 .title__container p{
		font-family: "HeroicC";
		font-size: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.featured-sm .image__container{
		width: 100%;
	}

	.bh-md6 .featured .image__container img {
		object-fit: cover;
		height: 231px;
		width: 100%;
	}
	.bh-md6 .featured .title__container {
		font-family: "Adelle";
		display: inline-block;
		width: 92%;
	}
	.bh-md12 .image__container{
		float: right;
		width: 48%;
		position: relative;
	}
	.bh2-2 .image__container:before {
		background-color: #e5127d;
		bottom: 30px;
		content: "";
		height: 3px;
		position: absolute;
		right: 31.5%;
		width: 87%;
	}
	.bh-md12 .image__container img{
		object-fit: cover;
		width: 100%;
		height: 304px;
	}
	.bh-md12 .title__container{
		width: 49%;
		position: relative;	
	}
	.bh2-2 .image__container:after{
		background-color: #e5127d;
		bottom: 0px;
		content: "";
		height: 3px;
		position: absolute;
		left: 74%;
		transform: rotate(-120deg);
		transform-origin: bottom left;
		width: 38px;
	}
	
	.bh-md12 .title__container h3{
		font-family: "HeroicC";
		text-align: right;
		margin: 10px;
		font-size: 57px;
	}
	.bh-md12 .title__container p{
		font-size: 16px;
		letter-spacing: 1px;
		font-family: "HeroicC";
		text-transform: uppercase;
		text-align: right;
	}
	.bh-md12 .featured__4{
		overflow: hidden;
		text-transform: uppercase
	}
	.bh-md4 {
		width: 33.26%;
		display: inline-block;

		overflow: auto;
	}
	.bh-md4 .featured{
		/* padding: 4%; */
		width: 99.86%;
		min-height: 247px;
	}
	.bh-md4 .featured .image__container{
		margin: 0;
		width: 100%;
	}
	.bh-md4 .featured .image__container img{
		width: 100%;
		object-fit: cover;
		height: 120px;
	}
	.bh-md4 .featured .title__container{
		width: 100%;
	}
	.borderholder.bh-last{
		margin-top: -7px;
	}
	.bh-md12 .featured__8{
		background-image: linear-gradient(90deg, rgb(255, 217, 0) 0%, rgb(233, 4, 101) 80%);
		color: #000;
	}
	.bh-last{
		overflow: auto;
	}
	.bh-last .featured{
		padding: 50px;
	}
	.bh-last .image__container{ 
		margin: 0;
	}	
	.bh-last .image__container img{ 
		display: none;
	}	
	.bh-last .image__container h3{ 
		display: inline-block;
		font-family: "HeroicC";
		text-transform: uppercase;
		font-size: 38px;
		margin: 0;
	}
	.bh-last .title__container h3{ 
		font-family: "Adelle";
		font-size: 20px;
		margin: 0;
	}
	.bh-last .title__container p{ 
		font-family: "HeroicC";
		text-transform: uppercase;
		margin: 10px;
		font-size: 19px;
	}
	.bh-last .title__container p span{ 
		color: #000;
	}
	.bh2-2 {
		width: 100%;
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
	.featured__2,.featured__3{
		min-height: unset;
	}
	.bh1-1{
		position: static;
		float: right;
	}
	.bh1-1:before {
		display: none;
	}
	.bh1-1:after {
		display: none;
	}
	.bh2-1 .image__container {
		margin: 10px;
		width: 100%;
		overflow: hidden;
	}
	.bh1-2 .title__container h3{
		margin-top: 51px;
		font-size: 45px;
	}
	.bh2-2 .title__container h3{
		font-size: 45px;
	}
	.bh1-2{
		width: 66.03%;
		display: inline-block;
	}
	.bh1-1{
		width: 34%;
		display: inline-block;
		vertical-align: top;
	}
	.bh1-1 .featured .image__container img{
		object-fit: cover;
		height: 250px;
		width: 100%;
	}
	.bh1-1 .featured .image__container{
		width: 100%;
	}
	.bh2-2{
		min-height: 339px;
		width: 65.34%;
		display: inline-block;
		vertical-align: top;
	}
	.bh2-1{
		position: relative;
		min-height: 339px;
		width: 34.9%;
		float: left;
	}
	.bh2-1:before {
		background-color: #f7c626;
		top: -12%;
		content: "";
		height: 3px;
		left: 66px;
		/* right: 0; */
		position: absolute;
		width: 87%;
	}
	.bh2-1:after {
		background-color: #f7c626;
		top: -5px;
		content: "";
		height: 3px;
		left: 0%;
		position: absolute;
		transform: rotate(120deg);
		transform-origin: bottom right;
		width: 47px;
	}
	.bh2-1 .image__container,.bh2-2 .image__container{
		margin: 0;
	}
	.bh2-1 .title__container,.bh2-2 .title__container{
		margin: 0;
	}
	.bh2-1 .featured .image__container img{
		object-fit: cover;
		height: 219px;
		width: 100%;
	}
	.bh2-2 .featured .image__container img{
		object-fit: cover;
		height: 335px;
		width: 100%;
	}
	.bh2-2 .featured .title__container{
		width: 48%;
	}
	.bh-md4{
		width: 33.28%;
		overflow: hidden;
	}
	.bh-md4 .featured .image__container img {
		height: 186px;
	}
	.bh-md4 .featured {
		width: 100%;
		min-height: 291px;
	}
	.bh-md6 .featured .title__container {
		margin: 10px 10px 11px 10px;
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1440px) {
	.logo-xl{
		padding:4% 0;
	}
	header{

		background-color: #000;
		background-size: cover;
	}
	.header-items{
		margin: 0 auto;
	}
	.header-items .logo {
		display: none;
	}
	.bh-md4 {
		width: 33.28%;
		display: inline-block;
	}
	.bh-md4 .featured {
		width: 100%; 
		min-height: 316px;
	}
	.bh-md4 .featured .image__container img {
		height: 235px;
	}
	.bh1-2 {
		width: 66.02%;
	}
	.bh2-1 {
		min-height: 339px;
		width: 34.5%;
	}
	.bh2-1 .featured .image__container img {
		object-fit: cover;
		height: 238px;
		width: 100%;
	}
	.borderholder.bh-last {
		margin-top: -7px;
		width: 100%;
	}
	.bh1-1 .featured .image__container img {
		height: 250px;
	}
	.bh2-2{
		width: 65.7%;
	}
	.bh2-2 .image__container:before {
		right: 30.5%;

	}
}
/* end of feature container  _____________________________________________________  */

/* styles for articles       */
.content__articles{
	padding-bottom: 0;
	padding: 9px;
	margin: 0 auto;
	background-color: white;
	color: #000;
}
.section{
	font-family: "Adelle";
	margin: 0 auto;
	font-weight: 100;
	width: 87%;
}
.section__content-left{
	width:67%;
	display: inline-block;
}
.section__content-left .section__imgContainer{
	display: inline-block;
	width:37%;
}
.section__content-left .section__imgContainer img{
	display: inline-block;
	object-fit: cover;
	height: 155px;
	width:100%;
}
.section__content-left .section__titleContainer{
	vertical-align: top;
	display: inline-block;
	width: 62%;
}
.section__content-left .section__titleContainer h4{
	margin-bottom: 10px;
	font-size: 16px;
	color: rgb(66, 66, 66);

}
.section__spotlight .section__titleContainer{
	text-align: right;
	width: 50%;
}
.section__spotlight .section__titleContainer h4{
	margin-bottom: 10px;
	font-size: 20px;
}
.section__spotlight .section__imgContainer{
	width: 48%;

}
.section__spotlight .section__imgContainer h3{
	font-family: "HeroicC";
	letter-spacing: .12em;
	margin: 11% 20px;
	color: #E17;
	font-size: 30px;
	font-weight: 900;
	
}
.section__content-left .section__titleContainer p{
	margin:0;
	font-size: 13px;
	font-family: "Adelle";
	font-weight: 100;
}
.section__content-left .section__titleContainer p span{
	color: #E17;
}
.section__content-right{
	width:27%;
	float: right;
}
.aside1__header{
	font-family: "HeroicC";
	color: #e17;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}
.aside1__header h3{
	padding-bottom: 15px;
	margin-bottom: 0;
	text-align: center;
	position: relative;
}
.aside1__header h3:before {
    position: absolute;
    background-color: #393092;
    content: "";
    height: 2px;
    bottom: 0;
    left: 15px;
    right: 0;
    z-index: 1;
}
.aside1__header h3:after {
    background-color: #393092;
    bottom: 12px;
    content: "";
    height: 2px;
    left: -2px;
    position: absolute;
    transform-origin: bottom;
    transform: rotate(-120deg);
    width: 25px;
    z-index: 1;
}
.aside1__body{
	position: relative;
	padding: 20px 10px;
}
.aside1__body:after{
	position: absolute;
    background-color: #393092;
    width: 2px;
    content: "";
    bottom: 130px;
    right: -1px;
    top: -2px;
    z-index: 1;
}
.aside1__imageContainer img{
	object-fit: cover;
	width:100%;
	height: 172px;
}
.aside1__footer h4{
	position: relative;
	text-align: right;
	color: #E17;
	font-family: "HeroicC";
	letter-spacing: 0.1px;
	padding-bottom: 15px;
}
.aside1__footer h4:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    width: 121px;
}
.aside1__footer h4:after {
	background-color: #393092;
	content: "";
    height: 2px;
    position: absolute;
    bottom: 3px;
    left: auto;
    right: -5px;
    transform-origin: top right;
    transform: rotate(120deg);
    width: 25px;
}
.section__content-left section{
	border-top: 1px solid #e7e7e8;;
	padding-top: 10px;
}
.section__content-left .section__spotlight{
	padding: 3% 1%;
}
.section__large{
	position: relative;
	background-color: #000;
	color: #fff;
}
.section__large .section__titleContainer{
	padding: 20px 10px;
	width: 96%;
}
.section__large .section__titleContainer h4{
	color: white;
	font-size: 29px;
	margin: 0;
	font-family: "HeroicC";
	text-transform: uppercase;
}
.section__large .section__titleContainer p{
	padding-top: 10px;
	text-transform: capitalize;
}
.section__large .section__imgContainer{
	width: 100%;
}
.section__large .section__imgContainer:after {
    background-color: #e5127d;
    content: "";
    height: 2px;
    position: absolute;
    right: 38px;
    top: 5.35rem;
    width: 50%;
    z-index: 1;
}
.section__large .section__imgContainer:before {
    background-color: #e5127d;
    content: "";
    height: 2px;
    position: absolute;
    right: 40px;
    top: 5.4rem;
    transform: rotate(-120deg);
    transform-origin: top right;
    width: 30px;
    z-index: 4;
}
.section__large .section__imgContainer img{
    height: 450px;
}
.content__more{
	margin: 0 auto;
	width: 87%;
	background-color: #e17;
}
.content__more p{
	padding: 1%;
	text-align: center;
	color: white;
}
.section__spotlight{
	padding: 2%;
}
@media only screen  and (max-width : 1024px){

	.section__spotlight .section__imgContainer h3 {
		margin: 5% 20px;
	}
	.section__spotlight .section__titleContainer h4 {
		margin-bottom: 10px;
		font-size: 16px;
	}
}
@media only screen  and (max-width : 768px){
	.section{
		width:100%;
	}
	.aside1{
		display: none;
	}
	.section__spotlight .section__imgContainer h3 {
		margin: 4% 20px;
	}
	.section__content-left {
		width: 100%;
		display: inline-block;
	}
	.content__more{
		width: 96%;
		padding: 2%;
		margin: 0;
	}

}
@media only screen  and (max-width : 425px){
	.content__more{
		width: 96%;
		padding: 2%;
		margin: 0;
	}
	.content__articles{
		padding: 0;
	}
	.section__content-left .section__imgContainer img {
		display: inline-block;
		object-fit: cover;
		height: 86px;
		width: 100%;
	}
	.section__large .section__imgContainer img {
		display: inline-block;
		object-fit: cover;
		height: 209px;
		width: 100%;

	}
	.section__large .section__imgContainer:after {
		top: 7.35rem;
	}
	.section__large .section__imgContainer:before {
		top: 7.4rem;
	}
	.section__content-left section {
		padding: 10px;
	}
	.section__content-left .section__titleContainer {
		vertical-align: top;
		display: inline-block;
		width: 50%;
	}
	.section__content-left .section__titleContainer h4{
		margin-top:0;
		font-size: 14.5px;
		color: rgb(66, 66, 66);
	}
	.section__large .section__titleContainer{
		width:94%;
	}
	.section__large .section__titleContainer h4{
		font-size: 24px;
		letter-spacing: 1px;
		color: white;
	}
	.section__content-left .section__spotlight{
		padding: 14% 1%;
	}
	.section__spotlight .section__imgContainer h3 {
		margin: 0 0 0 10px;
		letter-spacing: 0.01em;
	}
	.section__content-left .section__titleContainer p {
		font-size: 12px;
		font-family: "Adelle";
		font-weight: 100%;
	}

}

/* End of styling for article container ___________________ */

/*	styling for footer   */
footer{
	width: 100%;
	background-color: #000;
	padding: 0px;
}
.footer__content{
	line-height: 21.6px;
    max-width: 1440px;
    margin: 0 auto;
    color: #E17;
    font-family: Helvetica;
    font-size: 13px;
    margin: 50px 140px;
}
.footer__left{
	display: inline-block;
	width:57%;
	vertical-align: top;
}
.footer__logo{
	text-align: center;
	width: 15%;
	margin-top:4.5%;
	display: inline-block;
}
.footer__logo img{
	margin: 0 auto;
	width: 100%;
	max-width: 160px;
}
.footer__linkContainer{
	padding-left: 2%;
	width:74%;
	display: inline-block;
}
.footer__linkContainer ul{
	padding: 1% 0;
	margin: 0;
	list-style-type: none;
}
.footer__linkContainer ul li{
	display: inline;
}
.footer__linkContainer ul li:after{
	content: "\2022";
	color: white;
    display: inline-block;
    margin: 0 0 0 6px;
}
.footer__linkContainer ul li:last-child:after{
	display: none;
}

.footer__linkContainer ul li a{
	color: #e17;
	text-decoration: none;
	font-weight: 100;
}
.footer__linkContainer p {
	margin: 0;
    font-family: Helvetica;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.footer__linkContainer p span {
	color: #e17;
	text-decoration: none;
	font-weight: 100;
}
.footer__right
{	
	vertical-align: top;
	text-align: right;
	display: inline-block;
	width: 24%;
}
.footerRight__imageContainer{
	display: inline-block;
	width: 100%;
}
.footerRight__imageContainer img{
	display: inline-block;
    object-fit: cover;
    width: 100%;
}
.footerRight__linkContainer p{
    font-family: Helvetica;
	font-weight: 100;
	font-size: 13px;
}
.footerRight__linkContainer p span{
	color: white;
}
@media only screen  and (max-width : 1024px){
	.footer__content {

	    margin: 50px 18px 31px 18px;
	}
	.footerRight__imageContainer img {
		width: 203px;
	}
	.footer__logo{
		margin-top: 4.5%;
	}
	.footer__right {
		width: 26%;
	}
}

@media only screen  and (max-width : 728px){
	.footer__logo {
		display: block;
		margin: 0 auto;
		width: 210px;
		max-width: 61%;
		margin: 0 auto;
	}
	.footer__linkContainer {
		padding-left: 5%;
	}
	.footer__content {
		margin: 30px 0;
		line-height: 20.1px;
	}
	.footer__left {
		width: 100%;
		text-align: center;
	}
	.footer__right {
		width: 100%;
		margin-top: 5%;
		text-align: center;
	}
	/* .footerRight__imageContainer img {
		width: 71%;
	} */
}
@media only screen  and (max-width : 425px){
	.footer__content{
		line-height: 19.2px;
	}
}








