@font-face{
	font-family: "HeroicC";
	src: url(../fonts/heroicc.ttf);
}
@font-face{
	font-family: "FuturaBook";
	src: url(../fonts/futura-pt-medium.otf);
}
@font-face{
	font-family: "FuturaBookThin";
	src: url(../fonts/futura-pt-book.otf);
}
@font-face{
	font-family: "FuturaBookLight";
	src: url(../fonts/futura-pt-light.otf);
}

html,body{
	width: 100%;
	margin: 0px;
	background-color: black; 
	overflow: auto;
}

/* styling for header*/
header{
	overflow: auto;
	letter-spacing: 0.1em;
}
.logo{
	float: left;
	width: 145px;
	margin: 8px;
}
.header__theme p{
	padding-top: 20px;
	text-align: center;
	font-family: "HeroicC";
	font-size: 20px;
	color: #fff;
	margin: 0 auto;
	width: 100%;
}
.user{
	padding-top: 0.1%;
	float: right;
	width: 13%;
}
.user__avatar{
	display: inline-block;
	margin: 8px;
}
.user__search{
	display: none;
    width: 30px;
	margin: 8px;
}
.user__avatar img{
	width: 25px;
}
.user__search img{
	width: 25px;
}
.navBar{
	display: inline-block;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #333333;
	overflow: auto;
}
.navBar ul{
	list-style-type: none;
	width: 100%;
	overflow: auto;
	padding: 0;
	margin: 0;
}
.navBar__items{
	float: left;
	width: 25%;
}
.navBar__items:hover{
	color: lightgray;
}
.navBar__items:hover .navBar__content{
	position: absolute;
	display: inline-block;
	width: 100vw;
	top: 78px;
	left: 0;
	background-color: #6A6A6A;
}
.DDArrow img{
	width: 10px;
}
.DDMenu{
	width: 15px;
	display: none;
}
.navBar .navBar__items>a{
	float: left;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-family: "HeroicC";
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.05em;
	width: 100%;
	border-right: 1px solid #333333;
	padding-top: 4px;
	padding-bottom: 8px;
}
.navBar__hidden{
	display: none;
}
.navBar__dropdown{
	height: 100%;
}
.navBar__dropdown ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.navBar__content a{
	float: left;
	text-align: left;
	text-decoration: none;
	font-family: "FuturaBook";
	color: #fff;
	font-size: 11px;
	letter-spacing: 0.05em;
	background-color: #1a1a1a;
	width: 100%;
	border-bottom: 1px solid #6A6A6A;
	padding: 10px 10px 10px 20px;
}
.navBar__content a:last-child{
	color: #e17;
}
.hide{
	display: none;
}
.social{
    background-color: #000;
    width: 12%;
	padding: 1.3% 0px 0 1%;
}
.social a{
	margin: 3px;
}
@media only screen and (min-device-width : 768px){
	.shift-right{
		float: right;
	}
	.column3{
		overflow: auto;
		-moz-column-width: 4.5em; /* Firefox */
		-webkit-column-width: 4.5em; /* webkit, Safari, Chrome */
		column-width: 4.5em;
		-webkit-column-gap: 0; /* Chrome, Safari, Opera */
		-moz-column-gap: 0; /* Firefox */
		column-gap: 0;
	}
	.column2{
		-moz-column-width: 4.5em; /* Firefox */
		-webkit-column-width: 4.5em; /* webkit, Safari, Chrome */
		column-width: 4.5em;
		-webkit-column-gap: 0; /* Chrome, Safari, Opera */
		-moz-column-gap: 0; /* Firefox */
		column-gap: 0;
	}
	.show{
		display: block;
	}
	.navBar,.user{
		background-color: #000;
	}
	.logo{
		display:block;
		float: none;
		width:100%;
		padding: 60px 0px 60px 0px;
		background: url("../images/Masthead_SM_3.0.png") no-repeat fixed;
		background-size:cover;
		margin: 0 auto;
	}
	.logo__image{
		width: 700px;
		margin: 0 auto;
	}
	.navBar{
		width: 85%;
		float:left;
		padding-top: 1%;
		border-bottom: 0;
	}
	.navBar ul{
		list-style-type: none;
		width: 75%;
		overflow: auto;
		padding: 0;
		margin: 0;
	}

	.navBar .navBar__items a{
		border: 0;
	}
	.navBar__items:hover .navBar__content{
		position: initial;
		display: inline-block;
		width: auto;
	}
	.navBar__content a {
		padding: 7px 0px 7px 10px;
		display: inline-block;
	}

}
/* Media Queries - tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
	html,body,header{
		overflow: auto;
	}
	.medium-visible{
		display: inline-block;
	}
	.medium-hidden{
		display: none;
	}
	.navBar__items{
		margin: 7px;
		width: 17%;
	}
	.navBar .navBar__items a{
		border-right:0; 
	}
	#navBar__more{
		float: right;
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
	.large-visible{
		display: inline-block;
	}
	.large-hidden{
		display: none;
	}
	.navBar{
		margin-left: 40px;
		width: 70%;
	}
	.navBar ul{
		list-style-type: none;
		width: 100%;;
	}
	.navBar__items{
		width: 12%;
		margin: 0px 1px;
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1440px) {
	.xlarge-visible{
		display: inline-block;
	}
	.xlarge-hidden{
		display: none;
	}
	.navBar {
		width: 78%;
	}
	.navBar__items{
		width: 9%;
	}
	.navBar .navBar__items>a{
		width: 80%;
	}
	.social{
		width:8%;
	}
	.user{
		padding-top: 0.5%;
		float: right;
		width: 7%;
	}
}

/* End of NavBar Styling    _________________________________________________  */ 

/* Feature Cards Styling    */
.content,.content__featured,.borderholder,.featured{
	overflow: auto;
	font-family: "futuraBookThin";
	color: #fff;
}
.pink__font{
	color: #E17;
}
.featured__1 .image__container{
	float: left;
	width: 50%;
}
.featured__1 .image__container img{
	width : 99%;
}
.borderholder{
	margin: 0px 20px;
	background-image: linear-gradient(90deg, rgb(255, 217, 0) 0%, rgb(233, 4, 101) 80%);
}
.featured{
	margin: 1px;
	padding: 10px;
	background-color: #000;
}
.featured__1 .title__container{
	display: inline-block;
	width: 48%;
	float: right;
}
.featured__1 .title__container h3,p{
	font-size: 20px;
  	margin: 2px;
}
.featured__1 .title__container p{
	font-size: 15px;
}

.featured-sm .image__container{
	float: left;
	width: 30%;
}
.featured-sm .image__container img{
	width : 99%;
}
.featured-sm .title__container{
	font-family: "FuturaBookLight";
	display: inline-block;
	width: 65%;
	float: right;
}
.featured-sm .title__container h3,p{
	font-weight: 600;
	font-size: 18px;
  	margin: 2px;
}
.featured-sm .title__container p{
	font-size: 15px;
}

/* Media Queries - tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
	.featured-md-1{

	}
	.featured-md-2{

	}
	.featured-md-3{

	}
	.featured-md-2 .image__container{

	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1440px) {

}
